@charset "ISO-8859-1";

.header1 {
 margin: 0;
 padding: 0;
 background-color: #6d6c77;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.header1 img{
 margin: 30px 0 0 0;
 width: 80px;
 height: 80px;
}

.header {
 margin: 0;
 padding: 0;
 background-color: #232A32;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.header img{
 margin: 30px 0 0 0;
 width: 80px;
 height: 80px;
}

.subtitle {
   padding-bottom: 20px;
   opacity: 0;
   font-size: 20px;
   font-family: sans-serif;
   font-family: monospace;
   animation: subtitle 2s forwards;
   animation-delay: calc(var(--typewriter-speed) + 0.5s);
   color: #fff;
}

@keyframes subtitle {
   to {
     opacity: 1;
   }
}

.page-footer{
 background-color:#222;
 padding:30px 0 30px;
 margin-top:158px;
 bottom: 0;
}

.footer-copyright{
 color:#666;
 padding:20px 0;
 text-align: center;
 
}

.page-footer1{
 background-color:#6d6c77;
 padding:30px 0 30px;
 margin-top:158px;
 bottom: 0;
}

.footer1-copyright{
 color:#fff;
 padding:20px 0;
 text-align: center;
}
